body {
    align-items: center;
    align-self: center;
    justify-items: center;
    
}

main {
    width: 400px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 28px;
    
}
button {
    width: 100%;
}